{erl_opts, [debug_info
           ,{parse_transform, lager_transform}
           ,{warnings_as_errors, false}
           ]}.

{apps, []}.

{deps, [{lager, "3.9.2"}]}.

{plugins, [pc]}.

{port_env, [{"CFLAGS", "$CFLAGS $(pkg-config --cflags openssl)"}
           ,{"LDFLAGS", "$LDFLAGS $(pkg-config --libs openssl)"}
           ]}.

{so_name, "kz_auth_rsa_drv.so"}.

{artifacts, ["priv/kz_auth_rsa_drv.so"]}.

{provider_hooks, [{pre, [{compile, {pc, compile}}
                        ,{clean, {pc, clean}}
                        ]}
                 ]}.
