{erl_opts, [debug_info
           ,{parse_transform, lager_transform}
           ]}.

{plugins, [rebar3_auto]}.

{project_plugins, [rebar3_lint
                  ,{rebar3_fmt, {git, "https://github.com/openkazoo/erlang-formatter", {ref, "4e5296778ab96dd324f5cadf71b9507a24a160be"}}}
                  ]}.

{project_app_dirs, ["core/*"
                   ,"applications/*"
                   ]}.

{dialyzer, [{plt_location, local}
           ,{plt_prefix, "kazoo"}
           ,{base_plt_location, ".dialyzer"}
           ,{base_plt_prefix, "kazoo"}
           ,{incremental, true}
            %% Customize warnings
           ,{warnings, [error_handling, underspecs, unmatched_returns]}
           ]}.

{fmt, [{file_types, ["erl"
                    ,"escript"
                    ,"hrl"
                    ]}
      ]}.

{deps, [{jsx, "2.9.0"}
       ,{lager, "3.9.2"}
       ,{lager_syslog, {git, "https://github.com/erlang-lager/lager_syslog", {ref, "c59ccd421426a3d54b379e9b1f62f1f145dd5802"}}}
       ,{syslog, {git, "https://github.com/openkazoo/erlang-syslog", {ref, "f22b737482a20501e23c6347b7314c76a9dc0acf"}}
        }
       ]}.

{overrides, [{override, plists, [{erl_opts, [{warnings_as_errors, false}]}]}
            ,{override, eper, [{erl_opts, [{warnings_as_errors, false}]}]}
            ]}.

{relx, [
        {release, {kazoo, git}, [
                                 %% Core
                                 amqp_cron
                                ,amqp_leader
                                ,kazoo
                                ,kazoo_amqp
                                ,kazoo_apps
                                ,kazoo_ast
                                ,kazoo_attachments
                                ,kazoo_auth
                                ,kazoo_bindings
                                ,kazoo_caches
                                ,kazoo_call
                                ,kazoo_config
                                ,kazoo_convert
                                ,kazoo_couch
                                ,kazoo_csv
                                ,kazoo_data
                                ,kazoo_documents
                                ,kazoo_edr
                                ,kazoo_endpoint
                                ,kazoo_etsmgr
                                ,kazoo_events
                                ,kazoo_fax
                                ,kazoo_fixturedb
                                ,kazoo_globals
                                ,kazoo_im
                                ,kazoo_ips
                                ,kazoo_ledgers
                                ,kazoo_media
                                ,kazoo_modb
                                ,kazoo_number_manager
                                ,kazoo_oauth
                                ,kazoo_perf
                                ,kazoo_proper
                                ,kazoo_schemas
                                ,kazoo_services
                                ,kazoo_sip
                                ,kazoo_speech
                                ,kazoo_stats
                                ,kazoo_stdlib
                                ,kazoo_tasks
                                ,kazoo_templates
                                ,kazoo_token_buckets
                                ,kazoo_transactions
                                ,kazoo_translator
                                ,kazoo_voicemail
                                ,kazoo_web
                                ,kazoo_xml
                                ,sup
                                ,webseq

                                 %% Applications
                                ,{acdc, none}
                                ,{ananke, none}
                                ,{blackhole, none}
                                ,{braintree, none}
                                ,{callflow, none}
                                ,{call_inspector, none}
                                ,{camper, none}
                                ,{cccp, none}
                                ,{cdr, none}
                                ,{conference, none}
                                ,{crossbar, none}
                                ,{doodle, none}
                                ,{ecallmgr, none}
                                ,{edr, none}
                                ,{fax, none}
                                ,{frontier, none}
                                ,{hangups, none}
                                ,{hotornot, none}
                                ,{jonny5, none}
                                ,{konami, none}
                                ,{media_mgr, none}
                                ,{milliwatt, none}
                                ,{notify, none}
                                ,{omnipresence, none}
                                ,{pivot, none}
                                ,{pusher, none}
                                ,{registrar, none}
                                ,{reorder, none}
                                ,{skel, none}
                                ,{spyvsspy, none}
                                ,{stats, none}
                                ,{stepswitch, none}
                                ,{sysconf, none}
                                ,{tasks, none}
                                ,{teletype, none}
                                ,{trunkstore, none}
                                ,{webhooks, none}

                                 %% System Applications
                                ,sasl
                                ,lager
                                ,lager_syslog
                                ,{syntax_tools, none}
                                ,{compiler, none}
                                ,{runtime_tools, none}
                                ,{asn1, none}
                                ,{os_mon, none}
                                ,{crypto, none}
                                ,{public_key, none}
                                ,{ssl, none}
                                ]}
       ,{dev_mode, false}
       ,{generate_start_script, true}
       ,{extended_start_script, true}
       ,{include_erts, true}
       ,{include_src, false}
       ,{sys_config, false}
       ,{vm_args, false}
       ]}.

{xref_checks, [undefined_function_calls
              ,undefined_functions
              ,locals_not_used
              ,deprecated_function_calls
              ,deprecated_functions
              ]}.

{profiles, [{test, [{erl_opts, [debug_info, nowarn_missing_spec]}
                   ,{deps, [{proper, "1.5.0"}
                           ,{meck, "1.1.0"}
                           ]}
                   ]}
           ,{prod, [{erl_opts, [no_debug_info, warnings_as_errors]}]}
           ]}.

{minimum_otp_vsn, "27"}.
