{erl_opts, [debug_info
           ,{parse_transform, lager_transform}
           ,{warnings_as_errors, false}
           ]}.
{apps, []}.

{deps, [{lager, "3.9.2"}
       ,{plists,
        {git, "https://github.com/openkazoo/erlang-plists",
            {ref, "909aec1ffc2dfd651b880af8138346daff1cc407"}}}
       ]}.
