{erl_opts, [warn_export_all
           ,warn_missing_spec
           ,warnings_as_errors
           ,debug_info
           ,{parse_transform, lager_transform}
           ]}.
{xref_checks, [undefined_function_calls
              ,deprecated_function_calls
              ,locals_not_used
              ]}.
{deps, [{apns, {git, "https://github.com/openkazoo/erlang-apns4erl", {ref, "a4af002cf90a8686969fd1767fde0fed852acf3e"}}}
       ,{fcm, {git, "https://github.com/2600hz/erlang-fcm", {ref, "86308848fde4eb1837b2694e714e7ae959432ca4"}}}
       ]}.
{eunit_opts, [verbose]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
