{erl_opts, [
    warn_export_all,
    warn_missing_spec,
    warnings_as_errors,
    debug_info,
    {parse_transform, lager_transform}
]}.
{xref_checks, [
    undefined_function_calls,
    deprecated_function_calls,
    locals_not_used
]}.
{deps, [
    {apns,
        {git, "https://github.com/openkazoo/erlang-apns4erl",
            {ref, "5eac0b485e3e324b6e1fd27989e885ae087f7e69"}}},
    {fcm,
        {git, "https://github.com/softwarejoint/fcm-erlang.git",
            {ref, "b2f68a4c6f0f59475597a35e2dc9be13d9ba2910"}}}
]}.
{eunit_opts, [verbose]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
